<header id="head" class="head">
	<a class="brand" href="/">
		<h1 class="meta">The personal website of Andrew Philpott</h1>
		<img src="/assets/img/logo.svg" width="50" alt="My neat logo" />
	</a>

	<nav id="nav" class="nav">
		<h2 class="meta">Main Navigation</h2>

		<ul class="nav_list">
			<li><a data-text="Blog" class="nav_link" href="/">Blog</a></li>
			<li><a data-text="About" class="nav_link" href="/about">About</a></li>
			<li><a data-text="Portfolio" class="nav_link" href="/portfolio">Portfolio</a></li>
		</ul><!-- /.nav_list -->
	</nav><!-- /#nav -->
</header><!-- /#head -->