/*-------------------------------------------
  Breakpoints
-------------------------------------------*/
$desktop: em(1024);
$tablet: em(768);
$mobile: em(480);

/*-------------------------------------------
  Colors
-------------------------------------------*/
// Grayscale
$black: #000;
$gray: #999;
$gray-lt: lighten($gray, 30%);
$white: #fff;

// Accent Colors
$blue: #00a5bf;
$green: #5edd8b;
$orange: #ff8400;
$purple: #8200bf;
$yellow: #fff7c4;

// Text Colors
$text: lighten($black, 20%);

// Brand Colors
$dribbble: #ea4c89;
$facebook: #3b5998;
$spotify: #2ebd59;
$twitter: #55acee;

/*-------------------------------------------
  Stack Order
-------------------------------------------*/
$top: 5000;
$middle: 3000;
$bottom: 1000;

/*-------------------------------------------
  Typefaces
-------------------------------------------*/
$sans-serif: 'Helvetica Neue', Helvetica, sans-serif;