{% extends '../layouts/_default.twig' %}

{% set title = 'Stuff About Me 💵 Andrew Philpott' %}
{% set description = 'Some information about Andrew Philpott' %}
{% set id = 'about' %}

{% block body %}
	{% include '../partials/_banner.twig' with {'headline': 'Here’s stuff about me.', 'subheadline': 'Read it or whatever.'} %}

	<main id="main" class="main">
		<div class="wrap">
{% markdown %}
My name is Andrew. I live in Grand Rapids, Michigan with my [awesome wife](http://twitter.com/emilykoffman) and a silly little pomeranian named [Chanel](http://packdog.com/chanel-pom). I love going to concerts and movies and quite often have to venture out of Grand Rapids for both.

I’m a front end web developer at [SmarterServices](http://smarterservices.com/), where I build neat apps with some pretty awesome people.

If you want to know anything else about me, I can be found on <a class="twitter" href="http://twitter.com/andrewlphilpott">Twitter</a>, <a class="spotify" href="https://open.spotify.com/user/andrewlphilpott">Spotify</a>, <a class="dribbble" href="http://dribbble.com/andrewlphilpott">Dribbble</a> and <a class="facebook" href="http://facebook.com/andrewlphilpott">Facebook</a>
{% endmarkdown %}
		</div><!-- /.wrap -->
	</main><!-- /#main -->
{% endblock %}
