/*-------------------------------------------
  Banner
-------------------------------------------*/
.banner {
	height: calc(100vh - 4.6875em);
	padding: em(40) 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	@extend %transition;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: -14px;
		vertical-align: middle;
		width: 10px;
	}

	@include min-up($tablet) {
		padding: em(60) 0;
	}
	@media (orientation : portrait) {
		height: 60vh;
	}

	.blog & {
		height: auto;

		&:before {
			display: none;
		}
	}
}
.banner_bg {
	background: radial-gradient($gray-lt, $gray-lt 1px, transparent 1px) repeat;
	background-size: 10px 10px;
	background-position: center;
	bottom: -100%;
	left: -50px;
	position: absolute;
	right: -50px;
	top: -100%;
	will-change: transform;
}
.banner_content {
	display: inline-block;
	text-align: left;
	position: relative;
	vertical-align: middle;
	width: 100%;
}
