/*-------------------------------------------
  Blog Posts
-------------------------------------------*/
// Listing
.posts {
	@extend %list-reset;

	> li {
		border-bottom: 1px solid $gray-lt;
		opacity: 0;
		transform: perspective(350px) rotateX(-25deg) translateY(25%);
		transition: all .25s ease;
		visibility: hidden;

		&.visible {
			opacity: 1;
			transform: perspective(350px);
			visibility: visible;
		}
	}
}

// Post Previews
.preview {
	margin: em(30) 0;

	@include min-up($tablet) {
		margin: em(60) 0;
	}
}
.preview_head {
	margin-bottom: em(20);
}
.preview_date {
	margin-top: 0;
}
