/*-------------------------------------------
  Blog Posts
-------------------------------------------*/
.btn {
  display: inline-block;
}

// Reset buttons
%btn-reset {
  background: none;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
