/*-------------------------------------------
  Footer
-------------------------------------------*/
.foot {
	bottom: 0;
	color: $gray;
	@extend %body;
	@extend %sm; // font-size: rem(14)
	left: 0;
	padding: em(20) 20px;
	position: absolute;
	right: 0;
	text-align: right;
}
