/*-------------------------------------------
  Main Content
-------------------------------------------*/
.main {
	padding: em(30) 0 em(10);

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	img {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	@include min-up($tablet) {
		padding: em(60) 0;
	}
}

// Images
.screenshot {
	border: 1px solid $gray-lt;
	padding: 10px;
}