/*-------------------------------------------
  Portfolio
-------------------------------------------*/
.portfolio {
  padding: 0;
}
// Grid
.grid {
  @extend %flexbox;
  @extend %justify;
  @extend %list-reset;
}
.grid-work {
  background: linear-gradient(45deg, $accent1, $accent2);
  flex-wrap: wrap;
  padding: 5px;

  .grid_item {
      flex-grow: 1;
      padding: 5px;

      @include min-up($tablet) {
        width: 33.333333333%;

        &:first-child,
        &:nth-child(7),
        &:nth-child(11) {
          width: 66.666666667%;
        }
      }
  }
}

// Work Items
.work {
  overflow: hidden;
  position: relative;

  &:hover {
    .work_head {
      opacity: 1;
      transform: translateY(-50%) translateZ(0);
    }
    .work_img {
      opacity: .75;
    }
  }
}
.work_head {
  background: $white;
  @extend %display;
  left: 20px;
  opacity: 0;
  padding: 9px 20px 13px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 50%;
  transform: scale(1.1) translateY(-50%) translateZ(0);
  @extend %transition;
  will-change: opacity, transform;
  z-index: $middle;

  @media (prefers-color-scheme: dark) {
		background: $text;
		color: $white;
  }
}
.work_role,
.work_company {
  display: block;
  @extend %sm; // font-size: rem(14)
}
.work_img {
  overflow: hidden;
  @extend %transition;
  width: 100%;

  img {
    opacity: 0;
    @extend %transition;
    width: 100%;

    &.loaded {
      opacity: 1;
    }
  }
  @include min-up($tablet) {
    height: 200px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  @include min-up($desktop) {
    height: 400px;
  }
}
