<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Stuff About Me 💵 Andrew Philpott</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/screen.css" media="screen" />

		<link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body id="about" data-page="about">

		<a class="meta" href="#nav">Skip to navigation</a>
		<a class="meta" href="#main">Skip to content</a>

		<header id="head" class="head">
	<a class="brand" href="/">
		<h1 class="meta">The personal website of Andrew Philpott</h1>
		<img src="/assets/img/logo.svg" width="50" alt="My neat logo" />
	</a>

	<nav id="nav" class="nav">
		<h2 class="meta">Main Navigation</h2>

		<ul class="nav_list">
			<li><a data-text="Blog" class="nav_link" href="/">Blog</a></li>
			<li><a data-text="About" class="nav_link" href="/about">About</a></li>
			<li><a data-text="Portfolio" class="nav_link" href="/portfolio">Portfolio</a></li>
		</ul><!-- /.nav_list -->
	</nav><!-- /#nav -->
</header><!-- /#head -->
		<div class="page">
								</div><!-- /.page -->

		<footer id="foot" class="foot">
	<small class="foot_note">©2016 Andrew Philpott</small>
</footer><!-- /#foot -->
		<script type="text/javascript" src="/assets/js/main.min.js"></script>

	</body>
</html>
