{% extends '../layouts/_stats.twig' %}

{% set title = 'Post Stats 📈 Andrew Philpott' %}
{% set description = 'Some stats about Andrew Philpott’s blog posts' %}
{% set id = 'about' %}

{% block body %}
	{% include '../partials/_banner.twig' with {'headline': 'Here are some stats.', 'subheadline': 'They’re pretty neat.'} %}

	<main id="main" class="main">
		<div class="wrap">
			<ol class="like-list">
			</ol><!-- /.like-list -->
		</div><!-- /.wrap -->
	</main><!-- /#main -->
{% endblock %}
