{% extends './layouts/_default.twig' %}

{% set title = 'Hi, my name is Andrew Philpott' %}
{% set description = 'Some information about Andrew Philpott' %}
{% set id = 'about' %}

{% block body %}
	<main id="main" class="main">
		<div class="wrap">
{% markdown %}
My name is Andrew Philpott. I live in Grand Rapids, Michigan with my [awesome wife](http://twitter.com/emilykoffman) and a little pomeranian named Chanel.

I’m a front end engineer at [CM Group](http://cmgroup.com/), where I build neat apps with some pretty awesome people.

If you want to know anything else about me, I can be found on
<a href="https://open.spotify.com/user/andrewlphilpott">Spotify</a>,
<a href="https://instagram.com/andrewlphilpott">Instagram</a>,
<a href="https://github.com/andrewlphilpott">GitHub</a>, and
<a href="https://codepen.com/andrewlphilpott">Codepen</a>.
{% endmarkdown %}
		</div><!-- /.wrap -->
	</main><!-- /#main -->
{% endblock %}
