<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>

		<!-- Google Fonts CSS -->
		<style type="text/css">
			@font-face{font-family:Montserrat;font-style:normal;font-weight:700;src:local('Montserrat-Bold'),url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff')}@font-face{font-family:'Sorts Mill Goudy';font-style:normal;font-weight:400;src:local('Sorts Mill Goudy Regular'),local('SortsMillGoudy-Regular'),url(https://fonts.gstatic.com/s/sortsmillgoudy/v6/JzRrPKdwEnE8F1TDmDLMUtsZ51dqzBwIdH2JuTl9mv4.woff) format('woff')}@font-face{font-family:'Sorts Mill Goudy';font-style:italic;font-weight:400;src:local('Sorts Mill Goudy Italic'),local('SortsMillGoudy-Italic'),url(https://fonts.gstatic.com/s/sortsmillgoudy/v6/UUu1lKiy4hRmBWk599VL1dvlBl0Jp7mnNhNNKZ7BGiU.woff) format('woff');}
		</style>

		<!-- Main Styles -->
		<link rel="stylesheet" type="text/css" href="{{ assets }}/css/screen.css" media="screen" />

		<link href="{{ assets }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body id="{{ id }}">

		<a class="meta" href="#nav">Skip to navigation</a>
		<a class="meta" href="#main">Skip to content</a>

		{% include '../partials/_header.twig' %}

		<div class="page">
			{% block body %}
			{% endblock %}
		</div><!-- /.page -->

		{% include '../partials/_footer.twig' %}

		{% include '../partials/_scripts.twig' %}

	</body>
</html>
